# Postgres 연결 정보 (사용자님의 설정에 맞게 변경하세요)
DB_USER=postgres
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=localhost
DB_NAME=solkka
DB_PORT=5432

# 구글 이메일 자동 발송을 위한 Gmail 계정 정보
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=YOUR_16_DIGIT_APP_PASSWORD

# 서버 포트
PORT=3001
